@import "_variables.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@function PXtoREM($num) {
  @return #{$num/16}rem;
}
@mixin fface($name, $path, $weight) {
  font-family: $name;
  url: $path;
  font-weight: $weight;
}

@mixin arrows {
  border: solid Black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
@mixin arrow($dir) {
  @include arrows;
  @if $dir == up {
    // width: 0;
    // height: 0;
    // border-left: 6px solid transparent;
    // border-right: 6px solid transparent;
    // border-bottom: 6px solid #000000;
    transform: rotate(-135deg);
  } @else if $dir == down {
    transform: rotate(45deg);
  }
}

%button {
  background-color: transparent;
  border: 1px solid $Black;
  border-radius: 15px;
  cursor: pointer;
  color: $Black;
  display: inline-block;
  text-decoration: none;
}
@for $logo from 1 to 5 {
  .class#{$logo} {
    background-color: nth($colors, $logo);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 3.6rem;
}
.main-nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.main-nav-list,
.sec-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.main-nav-link,
.main-nav-link:active {
  display: inline-block;
  text-decoration: none;
  color: $Gray;
  font-size: PXtoREM(14);
  @include fface("Epilogue", "https://fonts.google.com/specimen/Epilogue", 700);
}
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3.6rem 4.6rem 3.6rem 8rem;
  gap: 5rem;
}
.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3.6rem;
}
.heading-primary {
  @include fface("Epilogue", "https://fonts.google.com/specimen/Epilogue", 700);
  color: $Black;
  font-size: PXtoREM(76);
  letter-spacing: -0.5;
}
.hero-description {
  @include fface("Epilogue", "https://fonts.google.com/specimen/Epilogue", 500);
  color: $Gray;
  font-size: PXtoREM(18);
  line-height: 1.5;
}
.hero-img {
  width: 100%;
}
.arrow {
  @include arrow(down);
  margin-left: 0.5rem;
}
.arrow:active {
  @include arrow(up);
}
.btn {
  @extend %button;
  @include fface("Epilogue", "https://fonts.google.com/specimen/Epilogue", 700);
  padding: 15px 30px;
  font-size: PXtoREM(14);
}
.sec-nav-link {
  @extend %button;
  @include fface("Epilogue", "https://fonts.google.com/specimen/Epilogue", 700);
  padding: 15px 30px;
  margin-bottom: pxToRem(30px);
  font-size: PXtoREM(14);
}
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: PXtoREM(30);
}
